@model Domain.Entities.Event
@using System.Security.Claims;

<div class="container p-0">
    <nav>
        <div class="navbar">
            <div class="container nav-container p-0 align-items-center justify-content-between">
                <input class="checkbox" type="checkbox" name="" id="" />
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                @if (!string.IsNullOrEmpty(Model.EventCode))
                {
                    <div class="user-name user-share-icons">
                        <a href="#">
                            <img src="~/assets/img/icons/masage-icon.png" alt="massage-icon" class="img-fluid">
                        </a>
                        <a href="#">
                            <img src="~/assets/img/icons/wifi-icon.png" alt="wifi-icon" class="img-fluid">
                        </a>
                        <a href="#">
                            <img src="~/assets/img/icons/qr-icon.png" alt="qr-icon" class="img-fluid">
                        </a>
                    </div>
                    <div class="logo top-logo">
                        <a href="#" class="menu-logo p-0">
                            <img src="~/assets/img/user-lavel/race-logo.png" alt="menu-logo" class="img-fluid">
                        </a>
                    </div>
                }

                <div class="menu-items">
                    <div class="menu-title">
                        <h4>Menu</h4>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        var email = User.FindFirstValue(ClaimTypes.Email);

                        <div class="widget-box">
                            <div class="card w-100">
                                <img src="~/assets/img/user-1.png" alt="user" class="img-fluid card-img-top" width="48px">
                                <div class="card-body py-0">
                                    <h3 class="card-title">
                                        Reza Rouf
                                    </h3>
                                    <p class="card-text">reza@royex.net</p>
                                </div>
                            </div>
                        </div>
                        <div class="widget-box admin-widget-box company-box">
                            <h3 class="card-title">
                                Admin
                            </h3>
                            <div class="box-content admin-box-content">
                                <h5><a href="#"><span class="me-2"><i class="bi bi-list-ul"></i></span>Company List</a></h5>
                            </div>
                            <div class="box-content admin-box-content">
                                <h5><a href="#"><span class="me-2"><img src="~/assets/img/icons/list-icon.png" alt="list-icon" class="img-fluid"></span>Object List</a></h5>
                            </div>
                            <div class="box-content admin-box-content">
                                <h5><a href="#"><span class="me-2"><img src="~/assets/img/icons/animation.png" alt="list-icon" class="img-fluid"></span>Sequence</a></h5>
                            </div>
                        </div>
                        <ul class="menu-list">
                            <li>
                                <a href="#">
                                    <span class="me-2">
                                        <img src="~/assets/img/icons/perm_phone_msg.png" alt="list-icon" class="img-fluid">
                                    </span> Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="me-2">
                                        <img src="~/assets/img/icons/help.png" alt="list-icon" class="img-fluid">
                                    </span> Help
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="me-2">
                                        <img src="~/assets/img/icons/privacy-policy.png" alt="list-icon" class="img-fluid">
                                    </span> Privacy Policy
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="me-2">
                                        <img src="~/assets/img/icons/gavel.png" alt="list-icon" class="img-fluid">
                                    </span> Terms and Condition
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="me-2">
                                        <img src="~/assets/img/icons/settings1.png" alt="list-icon" class="img-fluid">
                                    </span> Setting
                                </a>
                            </li>
                        </ul>
                        <div class="log-out-btn">
                            <a href="@Url.Action("LogOut","Login")" class="btn btn-outline-dark">
                                <span class="me-2">
                                    <img src="~/assets/img/icons/logout.png" alt="list-icon" class="img-fluid">
                                </span> Log Out
                            </a>
                        </div>
                    }
                    else
                    {
                        Context.Response.Redirect(Url.Content("~/Login/Login"));
                    }
                </div>
            </div>
        </div>
    </nav>
</div>