<header class="section header-section">
    @await Html.PartialAsync("_header")
</header>
<main id="main" class="user-body-section user-inner-body-section admin-inner-body-section m-0">
    <div class="container p-0">
        <div class="main-body-section w-100 p-0 relative">
            <section class="section section-title text-start">
                <h1>Create Object</h1>
            </section>

            <section class="section form-section admin-form-section">
                <div class="container">
                    <div class="joining-form">
                        <div class="form-box w-100">
                            <form action="" class="verify-form">
                                <div class="form-group">
                                    <label>Object Name</label>
                                    <input type="text" class="form-control" placeholder="Object Name">
                                </div>
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control" placeholder="Title">
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" rows="4" placeholder="Description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Share</label>
                                    <select class="form-select form-control" aria-label="Default select example">
                                        <option selected>Search or Select</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Product</label>
                                    <input type="text" class="form-control" placeholder="Product">
                                </div>
                                <div class="form-group">
                                    <label>Object Type</label>
                                    <select class="form-select form-control" aria-label="Default select example">
                                        <option selected>Activity</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Scoring</label>
                                    <div class="radio-btn">
                                        <div class="form-check">
                                            <input class="form-radio-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Activity Time
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-radio-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Average Speed
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Participant Images</label>
                                    <div class="upload-img-box">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-4">
                                                <div class="form-group">
                                                    <label>Ready</label>
                                                    <div class="dropzone">
                                                        <img src="~/assets/img/icons/cloud_upload.png" class="upload-icon" />
                                                        <input type="file" class="upload-input" />
                                                        <span>Upload Photo</span>
                                                    </div>
                                                    <div class="bottom-text">
                                                        <label>Font Color</label>
                                                        <div class="form-check ps-0">
                                                            <input class="form-radio-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                                                            <label class="form-check-label" for="flexRadioDefault3">
                                                                Light
                                                            </label>
                                                        </div>
                                                        <div class="form-check ps-0">
                                                            <input class="form-radio-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                                                            <label class="form-check-label" for="flexRadioDefault4">
                                                                Dark
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-4">
                                                <div class="form-group">
                                                    <label>Active</label>
                                                    <div class="dropzone">
                                                        <img src="~/assets/img/icons/cloud_upload.png" class="upload-icon" />
                                                        <input type="file" class="upload-input" />
                                                        <span>Upload Photo</span>
                                                    </div>
                                                    <div class="bottom-text">
                                                        <label>Font Color</label>
                                                        <div class="form-check ps-0">
                                                            <input class="form-radio-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5" checked>
                                                            <label class="form-check-label" for="flexRadioDefault5">
                                                                Light
                                                            </label>
                                                        </div>
                                                        <div class="form-check ps-0">
                                                            <input class="form-radio-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6">
                                                            <label class="form-check-label" for="flexRadioDefault6">
                                                                Dark
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-4">
                                                <div class="form-group">
                                                    <label>Complete</label>
                                                    <div class="dropzone">
                                                        <img src="~/assets/img/icons/cloud_upload.png" class="upload-icon" />
                                                        <input type="file" class="upload-input" />
                                                        <span>Upload Photo</span>
                                                    </div>
                                                    <div class="bottom-text">
                                                        <label>Font Color</label>
                                                        <div class="form-check ps-0">
                                                            <input class="form-radio-input" type="radio" name="flexRadioDefault" id="flexRadioDefault7" checked>
                                                            <label class="form-check-label" for="flexRadioDefault7">
                                                                Light
                                                            </label>
                                                        </div>
                                                        <div class="form-check ps-0">
                                                            <input class="form-radio-input" type="radio" name="flexRadioDefault" id="flexRadioDefault8">
                                                            <label class="form-check-label" for="flexRadioDefault8">
                                                                Dark
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Broadcast Images</label>
                                    <div class="upload-img-box">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-4">
                                                <div class="form-group">
                                                    <label>Ready</label>
                                                    <div class="dropzone">
                                                        <img src="~/assets/img/icons/cloud_upload.png" class="upload-icon" />
                                                        <input type="file" class="upload-input" />
                                                        <span>Upload Photo</span>
                                                    </div>
                                                    <div class="bottom-text">
                                                        <label>Font Color</label>
                                                        <div class="form-check ps-0">
                                                            <input class="form-radio-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                                                            <label class="form-check-label" for="flexRadioDefault3">
                                                                Light
                                                            </label>
                                                        </div>
                                                        <div class="form-check ps-0">
                                                            <input class="form-radio-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                                                            <label class="form-check-label" for="flexRadioDefault4">
                                                                Dark
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-4">
                                                <div class="form-group">
                                                    <label>Active</label>
                                                    <div class="dropzone">
                                                        <img src="~/assets/img/icons/cloud_upload.png" class="upload-icon" />
                                                        <input type="file" class="upload-input" />
                                                        <span>Upload Photo</span>
                                                    </div>
                                                    <div class="bottom-text">
                                                        <label>Font Color</label>
                                                        <div class="form-check ps-0">
                                                            <input class="form-radio-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5" checked>
                                                            <label class="form-check-label" for="flexRadioDefault5">
                                                                Light
                                                            </label>
                                                        </div>
                                                        <div class="form-check ps-0">
                                                            <input class="form-radio-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6">
                                                            <label class="form-check-label" for="flexRadioDefault6">
                                                                Dark
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-4">
                                                <div class="form-group">
                                                    <label>Complete</label>
                                                    <div class="dropzone">
                                                        <img src="~/assets/img/icons/cloud_upload.png" class="upload-icon" />
                                                        <input type="file" class="upload-input" />
                                                        <span>Upload Photo</span>
                                                    </div>
                                                    <div class="bottom-text">
                                                        <label>Font Color</label>
                                                        <div class="form-check ps-0">
                                                            <input class="form-radio-input" type="radio" name="flexRadioDefault" id="flexRadioDefault7" checked>
                                                            <label class="form-check-label" for="flexRadioDefault7">
                                                                Light
                                                            </label>
                                                        </div>
                                                        <div class="form-check ps-0">
                                                            <input class="form-radio-input" type="radio" name="flexRadioDefault" id="flexRadioDefault8">
                                                            <label class="form-check-label" for="flexRadioDefault8">
                                                                Dark
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <button type="submit" class="btn submit-btn w-100">Save</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>

            <footer class="footer-section w-100 d-none">
                <div class="container">
                    <div class="footer-content">
                        <a href="#" class="footer-menu-icon">
                            <img src="~/assets/img/icons/list.png" alt="list" class="img-fluid">
                        </a>
                        <a href="#" class="footer-menu-icon">
                            <img src="~/assets/img/icons/list_alt.png" alt="list" class="img-fluid">
                        </a>
                        <a href="#" class="footer-menu-icon">
                            <img src="~/assets/img/icons/team1.png" alt="list" class="img-fluid">
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</main><!-- End #main -->