<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smartrecord Forget Passord</title>
</head>
<body>

    <div style="background-color:#f4f4f4;margin:0!important;padding:0!important">

        <table border="0" cellpadding="0" cellspacing="0" width="100%">

            <tbody>

                <tr>
                    <td bgcolor="#F3F3F5" align="center">

                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                            <tbody>
                                <tr>
                                    <td bgcolor="#1c100b" align="center" valign="top" style="padding:40px 10px 40px 10px">
                                        <a href="http://yazayer.r-y-x.net" target="_blank">
                                            <img style="max-width:300px;max-height: 80px;" src="http://yazayer.r-y-x.net/Content_Web/images/logoadmin.png" alt="Ya Zayer">
                                            <!--<img style="max-width:300px;max-height: 80px;" src="" alt="Logo">-->
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>

                <!--success message-->
                <tr>
                    <td bgcolor="#f3f3f5" align="center" style="padding:0px 10px 0px 10px">

                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                            <tbody>
                                <tr>
                                    <td bgcolor="#ffffff" align="center" valign="top" style="border-top:1px solid #d8d8d8;padding:20px 20px 20px 20px;color:#000000;font-family:'Lato',Helvetica,Arial,sans-serif;line-height:1.4">
                                        <p style="font-size:24px;margin:0">Thank you <strong>{0}</strong> your otp is.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>

                <!--order details-->
                <tr>
                    <td bgcolor="#F3F3F5" align="center" style="padding:0px 10px 0px 10px;font-family:'Lato',Helvetica,Arial,sans-serif;">

                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                            <tr>
                                <td bgcolor="#fff">
                                    <h2 class="title" style="text-align: center;border-top:1px solid #d8d8d8;padding-top:15px;margin-top:0;margin-bottom:5px;">Your Query</h2>
                                </td>
                            </tr>
                        </table>


                        <!--order dtails table-->
                        <table cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;border-collapse: collapse;">
                            <tr>
                                <td colspan="2" bgcolor="#ffffff" style="padding:10px 20px 15px 20px;">
                                    <p style="margin:0;padding-bottom:15px;line-height: 1.4">
                                        A password reset event has been triggered. The password reset window is limited to one day. If you do not reset your password within one day, you will need to submit a new request. To complete the password reset process, use this otp:
                                    </p>
                                    <p style="margin:0;padding-bottom:15px;line-height: 1.4">
                                        Have a great day!
                                    </p>
                                    <p style="margin:0;font-size:20px;font-weight: bold">Details:</p>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="border:1px solid #ddd;padding-left:15px">
                                    Name:
                                </td>

                                <td valign="top" bgcolor="#ffffff" style="padding-left: 15px; border:1px solid #ddd;">
                                    <p style="margin-top: 15px;">{0}</p>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="border:1px solid #ddd;padding-left:15px">
                                    Email:
                                </td>

                                <td valign="top" bgcolor="#ffffff" style="padding-left: 15px; border:1px solid #ddd;">
                                    <p style="margin-top: 15px;">{1}</p>
                                </td>
                            </tr>

                            <tr>
                                <td bgcolor="#ffffff" style="border:1px solid #ddd;padding-left:15px;">
                                    Phone:
                                </td>

                                <td valign="top" bgcolor="#ffffff" style="padding-left: 15px; border:1px solid #ddd;">
                                    <p style="margin-top: 15px;">{2}</p>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="border:1px solid #ddd;padding-left:15px;">
                                    Message:
                                </td>

                                <td valign="top" bgcolor="#ffffff" style="padding-left: 15px; border:1px solid #ddd;">
                                    <p style="margin-top: 15px;">{3}</p>
                                </td>
                            </tr>

                        </table>

                    </td>
                </tr>

                <tr>
                    <td bgcolor="#f3f3f5" align="center" style="padding:0px 10px 0px 10px;font-family:'Lato',Helvetica,Arial,sans-serif;">

                        <!--shipping and delivery address-->
                        <table class="order-detail" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;border-collapse: collapse;">
                            <tr>
                                <td bgcolor="#fff" style="padding:30px 20px;border-top:1px solid #d8d8d8;">
                                    <table cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                                        <tr>
                                            <td style="font-size: 13px; font-weight: 400; color: #444444; letter-spacing: 0.2px;width: 50%;">
                                                <h5 style="font-size: 16px; font-weight: 500;color: #000; line-height: 16px; padding-bottom: 13px; border-bottom: 1px solid #e6e8eb; letter-spacing: -0.65px; margin-top:0; margin-bottom: 13px;">ADDRESS</h5>
                                                <p style="text-align: left;font-weight: normal; font-size: 14px; color: #000000;line-height: 21px; margin-top:0;padding-right: 10px;">
                                                    Office No: #3203, 32nd Floor,

                                                    Citadel Tower, Marasi Dr, Business Bay,

                                                    Dubai - UAE
                                                </p>
                                            </td>

                                            <td style="font-size: 13px; font-weight: 400; color: #444444; letter-spacing: 0.2px;width: 50%;">
                                                <h5 style="font-size: 16px;font-weight: 500;color: #000; line-height: 16px; padding-bottom: 13px; border-bottom: 1px solid #e6e8eb; letter-spacing: -0.65px; margin-top:0; margin-bottom: 13px;">
                                                    Contact Us
                                                </h5>
                                                <p style="text-align: left;font-weight: normal; font-size: 14px; color: #000000;line-height: 21px;    margin-top: 0;">
                                                    T: +971 45820203<br>

                                                    M: +971 566027916<br>

                                                    E: info@royex.net
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>

                <!--footer-->
                <tr>
                    <td bgcolor="#f3f3f5" align="center">

                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">

                            <tbody>
                                <tr>
                                    <td bgcolor="#1c100b" align="center" style="padding:50px 30px 50px 30px;color:#ffffff;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:25px">
                                        <h2 style="font-size:20px;font-weight:700;color:#ffffff;margin:0;margin-bottom:5px">Find us in social media?</h2>
                                        <p style="margin:0;margin-top:10px;">
                                            <a href="https://www.facebook.com/royex.net/" target="_blank" style="text-decoration: none;margin-right: 10px;"><img src="http://royexdigital.com/assets/images/facebook.png" alt="Facebook"> </a>
                                            <a href="https://twitter.com/royexnet" target="_blank" style="text-decoration: none;margin-right: 10px;"><img src="http://royexdigital.com/assets/images/twitter.png" alt="Twitter"> </a>
                                            <a href="https://www.instagram.com/royex.ae/" target="_blank" style="text-decoration: none;margin-right: 10px;"><img src="http://royexdigital.com/assets/images/instagram.png" alt="Instagram"> </a>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</body>
</html>