<footer class="site-footer">
    <div class="site-footer__shape-1 float-bob-x">
        <img src="~/website/assets/images/shapes/site-footer-shape-1.png" alt="">
    </div>
    <div class="site-footer__shape-2 zoominout">
        <img src="~/website/assets/images/shapes/site-footer-shape-2.png" alt="">
    </div>
    <div class="site-footer__shape-3 float-bob-x">
        <img src="~/website/assets/images/shapes/site-footer-shape-3.png" alt="">
    </div>
    <div class="site-footer__shape-4 float-bob-y">
        <img src="~/website/assets/images/shapes/site-footer-shape-4.png" alt="">
    </div>
    <div class="site-footer__shape-5 zoominout">
        <img src="~/website/assets/images/shapes/site-footer-shape-5.png" alt="">
    </div>
    <div class="site-footer__shape-6 float-bob-x">
        <img src="~/website/assets/images/shapes/site-footer-shape-6.png" alt="">
    </div>
    <div class="site-footer__top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__contact-box">
                        <div class="footer-widget__logo-box">
                            <div class="footer-widget__logo">
                                <a href="index.html">
                                    <img src="~/website/assets/images/resources/footer-logo.png"
                                         alt="">
                                </a>
                            </div>
                        </div>
                        <ul class="footer-widget__contact list-unstyled">
                            <li>
                                <div class="icon">
                                    <i class="icon-phone"></i>
                                </div>
                                <div class="text">
                                    <p>
                                        <a href="tel:0881122334455">+088 11 22 33 44 55</a>
                                        <a href="tel:86611220077">+866 11 22 00 77</a>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="icon icon-two">
                                    <i class="icon-location"></i>
                                </div>
                                <div class="text">
                                    <p>
                                        601 Merritt 7, norwalk, 124 CT
                                        <br> New York, USA
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <ul class="footer-widget__social-box list-unstyled">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="footer-widget__latest-post">
                        <div class="footer-widget__title-box">
                            <h4 class="footer-widget__title">Latest Post</h4>
                        </div>
                        <ul class="footer-widget__latest-post-list list-unstyled">
                            <li>

                                <div class="footer-widget__latest-post-content">
                                    <p class="footer-widget__latest-post-date">12 August 2022</p>
                                    <h5 class="footer-widget__latest-post-title">
                                        <a href="blog-details.html">
                                            How
                                            Much Does It Cost to
                                            Remodel a Shower?
                                        </a>
                                    </h5>
                                </div>
                            </li>
                            <li>

                                <div class="footer-widget__latest-post-content">
                                    <p class="footer-widget__latest-post-date">12 August 2022</p>
                                    <h5 class="footer-widget__latest-post-title">
                                        <a href="blog-details.html">
                                            5
                                            ways to take the bite out of pension regret
                                        </a>
                                    </h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="footer-widget__services">
                        <div class="footer-widget__title-box">
                            <h4 class="footer-widget__title">Services</h4>
                        </div>
                        <ul class="footer-widget__services-list list-unstyled">
                            <li><a href="about.html">Accounting</a></li>
                            <li><a href="financial-services.html">Business Services</a></li>
                            <li><a href="financial-services.html">Financial Strategy</a></li>
                            <li><a href="about.html">Trends & Insights</a></li>
                            <li><a href="digital-marketing.html">Marketing Strategy</a></li>
                            <li><a href="about.html">About us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="footer-widget__newsletter">
                        <div class="footer-widget__title-box">
                            <h4 class="footer-widget__title">Newsletter</h4>
                        </div>
                        <p class="footer-widget__text">
                            Get the latest news, tips and latest
                            messages, including special offers
                        </p>
                        <form class="footer-widget__subscribe-box mc-form" data-url="MC_FORM_URL">
                            <div class="footer-widget__subscribe-input-box">
                                <input type="email" placeholder="Email Address" name="email">
                                <button type="submit" class="footer-widget__subscribe-btn">
                                    <i class="icon-send"></i>
                                </button>
                            </div>
                        </form>
                        <div class="mc-form__response"></div>
                        <div class="footer-widget__help">
                            <div class="icon">
                                <span class="icon-email"></span>
                            </div>
                            <div class="footer-widget__help-text">
                                <p><a href="mailto:Corpai@website.com">Corpai@website.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="site-footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text">©2022 Template_mr All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>