@model Scorerecord.DTOS.ForgotPasswordRequest

<main id="main" class="body-section">
    <div class="container p-0">
        <div class="main-body-section w-100">
            <div class="site-logo-area w-100">
                <img src="~/assets/img/forward_to_inbox.png" alt="forward_to_inbox" class="img-fluid mx-auto">
            </div>
            <div class="body-content body-inner-content w-100">
                <h1>Forget Password?</h1>
                <p>Enter the email address associated with your account</p>
                <div class="form-box">
                    <form asp-controller="Login" asp-action="ForgetPassword" method="post" class="row align-items-center">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Enter Email Address</label>
                                <input type="email" class="form-control" name="Email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn login-btn send-btn w-100">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
