@model Scorerecord.DTOS.ResetPasswordRequest

<main id="main" class="body-section">
    <div class="container p-0">
        <div class="main-body-section w-100">
            <div class="site-logo-area w-100">
                <img src="~/assets/img/reset-icon.png" alt="reset-icon" class="img-fluid mx-auto">
            </div>
            <div class="body-content body-inner-content w-100">
                <h1>Set New Password</h1>
                <div class="form-box">
                    <form asp-controller="Login" asp-action="ResetPassword" class="row align-items-center">
                        <input type="hidden" name="Email" value="@Model.Email" />
                        <input type="hidden" name="Token" value="@Model.Token" />
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="col-12">
                            <div class="input-group align-items-center">
                                <label for="password">Enter New Password</label>
                                <input type="password" class="form-control" name="Password" id="password" placeholder="**************">
                                <i class="bi bi-eye-slash" aria-hidden="true" id="togglePassword"></i>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="password">Retype Password</label>
                                <div class="input-group align-items-center" id="show_hide_password">
                                    <input class="form-control" type="password" placeholder="**************" name="ConfirmPassword">
                                    <div class="input-group-addon">
                                        <a href=""><i class="bi bi-eye-slash" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn login-btn send-btn w-100">Update and Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>