@model Scorerecord.DTOS.VerifyRequest

<main id="main" class="body-section">
    <div class="container p-0">
        <div class="main-body-section w-100">
            <div class="site-logo-area w-100">
                <img src="~/assets/img/verify-icon.png" alt="verify-icon" class="img-fluid mx-auto">
            </div>
            <div class="body-content body-inner-content w-100">
                <h1>Verification</h1>
                <p>Enter the verification code we just sent you on <br /> your email address.</p>
                <div class="form-box">
                    <form asp-controller="Login" asp-action="Verify" class="row align-items-center">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="col-12">
                            <div class="form-group">
                                <label>Verification Code</label>
                                <div class="input-code-box">
                                    <input type="text" class="form-control" name="One" required>
                                    <input type="text" class="form-control" name="Two" required>
                                    <input type="text" class="form-control" name="Three" required>
                                    <input type="text" class="form-control" name="Four" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn login-btn send-btn w-100">Varify</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>